@use '../abstracts' as a;
@use '../base' as b;
body {
    background-color: a.$color-primary;
    @include a.display-flex();
}

.container {
    @include a.display-flex($justify-content: center, $flex-direction: column);
}

.container__main {
    @include a.display-flex($justify-content: center);
    min-width: 760px;
    min-height: 590px;
}

.main__section-right {
    max-width: 50%;
    background-color: a.$color-primary;
}

.section__login {
    background-color: a.$color-secondary;
    border: solid 1px a.$color-primary;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .main__section-left {
        display: none;
    }
}

.main__section-left {
    max-width: 50%;
}

.section__or {
    @include a.display-flex($justify-content: center, $flex-direction: row);
    color: a.$color-tertiary;
    margin: 25px;
}

.section__or-left-line {
    width: 100px;
    height: 1px;
    background-color: a.$color-tertiary;
}

.section__or-right-line {
    width: 100px;
    height: 1px;
    background-color: a.$color-tertiary;
}

.section__or-text {
    margin: 5px;
}

.section__log-facebook {
    @include a.display-flex($justify-content: center, $flex-direction: row);
}

.forgot-password {
    text-align: center;
}

.section__sign-up {
    background-color: a.$color-secondary;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    border: solid 1px a.$color-primary;
    width: 100%;
    font-family: a.$font-h1;
    font-size: 0.8rem;
}

.get-app {
    text-align: center;
    font-family: a.$font-h1;
}