@use '../Abstracts/' as a;
@use '../Base/' as b;
.container__main {
    @include a.display-flex($justify-content: center);
    min-width: 760px;
    min-height: 590px;
}

.main__section-right {
    max-width: 50%;
    background-color: a.$color-primary;
}

.section__login {
    background-color: a.$color-secondary;
    border: solid 1px a.$color-primary;
    border-radius: 5px;
}

.image__static {
    max-height: 460px;
}

.form__title {
    font-family: a.$font-h1;
    font-size: 2.5rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .main__section-left {
        display: none;
    }
}

.main__section-left {
    max-width: 50%;
}

.form-control {
    font-family: a.$font-h1;
    margin: 5px;
    width: 270px;
    height: 40px;
}

.form__button-submit {
    width: 280px;
    height: 30px;
    margin: auto;
}

.btn {
    margin-top: 0.5rem;
    width: 100%;
    height: 100%;
    color: a.$color-primary;
    background-color: a.$color-btn-primary;
    border: none;
    border-radius: 5px;
}

.section__or {
    @include a.display-flex($justify-content: center, $flex-direction: row);
    color: a.$color-tertiary;
    margin: 25px;
}

.section__or-left-line {
    width: 100px;
    height: 1px;
    top: 2px;
}

.section__or-right-line {
    width: 100px;
    height: 1px;
}

.section__or-text {
    margin: 5px;
}

.facebook-img {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.facebook-link {
    color: darkblue;
    font-family: a.$font-h1;
}

.section__log-facebook {
    @include a.display-flex($justify-content: center, $flex-direction: row);
}

.forgot-password {
    text-align: center;
}

.forgot-password>a {
    color: blue;
    text-decoration: none;
    font-family: a.$font-h1;
    font-size: 0.8rem;
}

.section__sign-up {
    background-color: a.$color-secondary;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    border: solid 1px a.$color-primary;
    width: 100%;
    font-family: a.$font-h1;
    font-size: 0.8rem;
}

.sign-up-text>a {
    color: blue;
    text-decoration: none;
    font-size: 0.9rem;
}

.get-app {
    text-align: center;
    font-family: a.$font-h1;
}

.get-app-img {
    width: 120px;
    margin: 5px;
}