@use '../abstracts' as a;
@use '../base' as b;
//Index page
.facebook-img {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.get-app-img {
    width: 120px;
    margin: 5px;
}

.image__static {
    max-height: 460px;
}

//Home page