@use '../abstracts' as a;
@use '../base' as b;
//Index page
.facebook-img {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.get-app-img {
    width: 120px;
    margin: 5px;
}

.image__static {
    max-height: 460px;
}

//Home page
.profile-size {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.profile-size-user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post__card1-icon {
    @include a.display-flex($flex-direction: row, $justify-content: space-between);
}

.post__card2-icon {
    @include a.display-flex($flex-direction: row, $justify-content: space-between);
}

.post__card-1-img {
    max-width: 760px;
}

.post__card-2-img {
    max-width: 760px;
}